<% provide(:title, @title) %>

<div class="spacer-medium"></div>

<div class="span1 depth2 pull-left pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">COLLECTION'S</h3>
  <p class="pad-top-bottom-small">
    Click on a collection to explore further.
  </p>
  <% @collections.each do |collection| %>
    <tr>
      <td><%= collection.name %></td>
      <td> | <%= link_to 'Show', user_collection_path({user_id: @user.permalink, id: collection.id}) %></td>
      <td> | <%= link_to 'Edit', '#' %></td>
      <td> | <%= link_to 'Destroy', user_collection_path({user_id: @user.permalink, id: collection.id}), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr><br/>
  <% end %>
</div>
