<% provide(:title, "Leaderboard") %>
<div class="spacer-small"></div>
<aside class="leaderboard-left-nav">
  <section>
    <p>This will need to be replaced with the user defined description of the current piece. It should also have a but stating that the user can edit the description which will convert this text box to an editable form.</p>
  </section>
</aside>

<div class="leaderboard-main">
  <div class="ornate-title">
    <h2>PIECES:</h2>
    <h1>Leaderboard</h1>
    <div class="pull-right"><a>Ranked By: </a><h3>Score</h3></div>
  </div>
  <div class="spacer-small"></div>

<ol>
  <% @pieces.each_with_index do |piece, z| %>
    <li><div class="leaderboard-item">
      <div class="leaderboard-piece">
      </div>
        <div class="leaderboard-voters"> 
          <% 3.times do |i|%>  
            <ol><% (0..2).each do |j| %>
              <li id="leaderboard-voter">
                <% unless @voters[z][(j+(3*i))].nil? %>
                  <%= link_to(gravatar_for(@voters[z][(j+(3*i))], size: 60), @voters[z][(j+(3*i))]) %>
                <% end %>
              </li>
            <% end %></ol>
          <% end %>
        </div>
        <h2><%= link_to piece.name, user_piece_path(User.find_by_id(piece.user_id), piece) %></h2>
        <p>
          by <%= link_to User.find_by_id(piece.user_id).username, user_path(User.find_by_id(piece.user_id).username) %>
        </p>
    </div>
  <% end %></li></ol>
  <div class="clear"></div>

  
</div>