<% provide(:title, @title) %>

<div class="spacer-small"></div>

<div class="main">
  <h3 class="pad-top-bottom-small">LEADERBOARD</h3>

  <% @pieces.each do |piece| %>
    <tr>
      <td><%= link_to piece.name, user_piece_path(User.find_by_id(piece.user_id), piece) %> by <%= link_to User.find_by_id(piece.user_id).username, user_path(User.find_by_id(piece.user_id).username) %></td>
    </tr><br/>
  <% end %>

</div>

<aside class="power-column">
  <section>
    <h3>Select Category</h3>
    <ul>
      <li>Design</li>
      <li>Modelling</li>
      <li>Photography</li>
    </ul>    
  </section>
  <section>
    <h3>Description Text</h3>
    <p>This is the leaderboard page where users are able to view rankings for submitted designs.</p>
  </section>
</aside>
