<% provide(:title, 'edit Portfolio') %>
<h1>Edit Portfolio Details</h1>
<%= @portfolio %>
<%= @collections %>
  <% @collections.each do |collection| %>
    <tr>
      <td><%= collection.name %></td>
    </tr><br/>
  <% end %>