<% provide(:title, 'Create Account') %>
<div class="spacer-medium"></div>

<div class="span1 depth2 pull-left pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">CREATE AN ACCOUNT</h3>
  <p class="pad-top-bottom-small">
  	Enter your account details below.
  </p>
  <div class="spacer-small"></div>
  <%= form_for(@user) do |f| %>
    <%= render 'fields', f: f %>
    <div class="spacer-small"></div>
    <%= f.submit "Create my account", class: "button button-pad-temp" %>
  <% end %>
</div>


