<% provide(:title, @title) %>

<div class="spacer-medium"></div>

<div class="span1 depth2 pull-left pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">PORTFOLIO'S</h3>
  <p class="pad-top-bottom-small">
    Click on a portfolio to explore further collections and items.
  </p>
  <% @portfolios.each do |portfolio| %>
    <tr>
      <td><%= image_tag("portfolioIcon.png", alt: "Portfolio Logo")%></td>
      <td><%= portfolio.name %></td><br/>
    </tr>
  <% end %>
</div>
