<div class="spacer-small"></div>

  <div class="main-image">
  <%=image_tag("home/home#{(1..9).to_a.sample}.jpg", alt: "main_image")%>
  </div>

<div class="spacer-medium"></div>
<div class="line-divide"></div>
<div class="spacer-medium"></div>


<div class="span3 depth1 pull-left pad-full-medium wrapper">

</div>

<div class="depth1 pull-left pad-full-medium"></div>

<div class="span3 depth1 pull-left pad-full-medium wrapper">
  <a>Box Text</a>
</div>

<div class="depth1 pull-left pad-full-medium"></div>

<div class="span3 depth1 pull-left pad-full-medium wrapper">

</div>