<% provide(:title, @title) %>
<div class="spacer-medium"></div>
<div class="span1 pull-left pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">DETAILS OF THE PIECE (<%= @piece.name %>)</h3>

  <p class="pad-top-bottom-small">
  	Images associated with this piece.
  </p>

<div class="spacer-small"></div>

<div class="galleria">
<% @piece.images.each do |image| %>
    <%= image_tag(image.image_url.to_s) %>
<% end %>
</div>
<script>
    Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
	Galleria.configure({
	    transition: 'fade',
	    imageCrop: false
	});
    Galleria.run('.galleria');
</script>

<h3>Upvote This Piece</h3>
<p><%= render 'upvotes' %></p>

</div>

<style>
    .galleria{ width: 700px; height: 400px; background: #000 }
</style>


