<% provide(:title, @title) %>
<div class="spacer-medium"></div>
<div class="span1 depth3 pull-left pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">DETAILS OF THE PIECE (<%= @piece.name %>)</h3>

  <p class="pad-top-bottom-small">
  	Images associated with this piece.
  </p>

<div class="spacer-small"></div>

<% @piece.images.each do |image| %>
  <tr>
    <td><%= link_to image_tag(image.image_url(:thumb).to_s), image.image_url %></td>
  </tr>
<% end %><br/>

<%= link_to 'Edit This Piece', edit_user_piece_path({user_id: @user.permalink, id: @piece.id}) %><br/>
<div class="spacer-medium"></div>
<h3>Upvote This Piece</h3>
<%=link_to image_tag("icons/star.png", alt: "Logo"), root_path%>

</div>